div.menu {
    float:right;
}
div.parte1-izquierda {  
    width:350px;
    margin:10px 50px;
    padding:20px;
    font-size:italic;
    color:#000;      
    position: relative;
    top: 8em;
    left: 5em;

}
div.sub {
    position: relative;
    top: 8em;
    left: 9em;
}
div.cuadro{
    list-style: none;
    width:800px;
    height: 100px; 
    margin:10px 50px;
    position: relative;
    top: 9em;
    left: 5em;
    background: white;
    border: 3px solid #555;
   
}
ul.cuadro-1 li{
    display: inline;
    padding-right: 5em;
}
div.parte1-derecha {
    position: relative;
    left: 45em;
    background-image: url("3.png");
}
div.parte1-derecha image{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
center.imagen {
    position: relative;
    top: 10em;
}